<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script type="text/javascript">
  		let crypto;
  		try {
  			crypto = require('crypto');
  		} catch (err) {
  			console.log('不支持 crypto!');
  		}
  	</script>
    <h1><%= title %></h1>
  </body>
</html>